.x-tab-default-bottom {
	padding: 6px 9px;
}

.x-tab-default .x-tab-inner {
	font-size: 1.2em;
	line-height: 1.2em;
}

.x-tab-bar-default-horizontal {
	height: 35px;
}

.x-tab-default .x-tab-icon-el {
	width: 24px;
	height: 24px;
}

.x-toolbar-text {
	font-size: 1.5em;
}

.x-btn {

}

.x-btn-default-toolbar-medium .x-btn-inner {
	font-size: 1.5em;
}

.x-btn-default-toolbar-large .x-btn-inner {
	font-size: 2em;
}

.x-btn-default-medium .x-btn-inner {
	font-size: 1.3em;
}

.x-btn-default-large .x-btn-inner {
	font-size: 2em;
}

/*.x-grid-cell-inner {
	height: 40px;
	display: table-cell;
	vertical-align: middle;
}*/

.totales .x-form-item {
	margin-left: 5px;
}

.totales .x-form-display-field-body {
	border: 1px solid #ccc;
}

.totales .x-form-display-field {
	color: #c00;
	text-align: right;
	font-size: 1.2em;
}